
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Borbolla Automation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Industry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' media='all' />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

			<!-- FlexSlider-JavaScript -->
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});
	</script>
	<!-- //FlexSlider-JavaScript -->
</head>
<body>

<!-- navigation -->
<div class="nav-links">	
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="/"><img src="{% static 'images/borbolla_logo.png' %}" ></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav link-effect">
					<li class="active"><a href="/">Principal</a></li>
					<li><a href="#about" class="scroll">Acerca</a></li>
					<li><a href="#services" class="scroll">Servicios</a></li>
					<li><a href="#projects" class="scroll">Proyectos</a></li>
					<li><a href="#team" class="scroll">Equipos</a></li>	
					<li><a href="#contact" class="scroll">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /navigation -->

<!-- banner-->
<div class="banner-agile">
	
</div>
<!-- /banner-->

<!--about -->
<div class="about-agileits" id="about">
	<div class="container">
		<h3>Acerca de Nosotros</h3>
		<label class="line"></label>
		<p class="top-p">Somos un equipo de especialistas que proveen soluciones en automatización de procesos industriales , Monitoreo de calidad de energia , Monitoreo de procesos a travez de SCADA y soluciones de ingenieria ,logrando satisfacción de nuestros clientes a través de la mejora continua, nuevas tecnologías, integridad y excelencia.</p>
	</div>
		<div class="col-md-6 about-left">
		</div>
		<div class="col-md-6 about-right">
			<h4>Que entendemos por Automatizacion</h4>
			<p>Uso de sistemas o elementos computarizados y electromecánicos para controlar maquinarias o procesos industriales. </p>
			<p class="sec-p">Como una disciplina de la ingeniería más amplia que un sistema de control, abarca la instrumentación industrial, que incluye los sensores, los transmisores de campo, los sistemas de control y supervisión, los sistemas de transmisión y recolección de datos y las aplicaciones de software en tiempo real para supervisar y controlar las operaciones de plantas o procesos industriales.</p>
			<a href="#" data-toggle="modal" data-target="#myModal">Leer Mas</a>
		</div>
		<div class="clearfix"></div>
</div>
<!-- /about -->
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sistemas de control distribuido</h4>
        </div>
        <div class="modal-body">
          <p>

Existe un concepto fundamental y muy actual en torno a la automatización industrial y es el de DCS (sistemas de control distribuido). Un sistema de control distribuido está formado por varios niveles de automatización que van desde un mínimo de 3 hasta 5. Los mismos se denominan: nivel de campo (donde se encuentran los sensores y actuadores), nivel de control (donde se encuentran los PLCs o las Estaciones de Automatización), nivel de supervisión (donde se encuentran las Estaciones de Operación y los Servidores de Proceso), nivel MES (donde se encuentran PCs con softwares especializados para la distribución de toda la información de planta así como la generación de reportes)y el nivel ERP (donde se encuentran igualmente PCs con softwares especializados para la planificación y administración de la producción de toda la industria o empresa).
</br></br>
Se utilizan computadoras especializadas y tarjetas de entradas y salidas tanto analógicas como digitales para leer entradas de campo a través de sensores y para generar, a través de su programa, salidas hacia el campo a través de actuadores. Esto conduce para controlar acciones precisas que permitan un control estrecho de cualquier proceso industrial. (Se temía que estos dispositivos fueran vulnerables al error del año 2000, con consecuencias catastróficas, ya que son tan comunes dentro del mundo de la industria).</p>
<img src="{% static 'images/What-is-Distributed-Control-System.jpg' %}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- services -->
<div class="services-w3" id="services">
	<div class="container">
		<h3>Servicios</h3>
		<label class="line"></label>
		<p class="top-p"> Nuestro portafolio de servicios está integrado por:<br/>
	
			
			-Venta de equipo PLC, HMI, componentes de redes drial, drives <br/> 
			-Instrumentacion industrial y despliegue en SCADA<br/>
			-Ahorro y calidad de energia electrica<br/>
			-Servicio técnico en sitio<br/>
			-Desarrollo de proyectos<br/>
</p>
		
		
		<div class="col-md-4 services-grids-w3l">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			<p>Servicio de instrumentacion industrial y despliegue en SCADA desde diseno , instalacion electrica, diseno de red profinet , programacion de PLC's , bases de datos y diseno de interfaz grafica para usuario</p>
		</div>
		<div class="col-md-4 services-grids-w3l">
			<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
			<p>Diseño , instalacion , cableado , monitoreo y automatizacion de CCMs (Centro de Control de Motores) </p>
		</div>
		<div class="col-md-4 services-grids-w3l">
			<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
			<p>Sistema de Monitoreo de calidad de energia electrica , asi como consultoria de cualquier problema , y/o solucion de calidad de energia electrica <br>
			Descarga muestra de SCADA electrico Schneider <a href="{% static 'documents/muestrario.pdf' %}" download="Borbolla_Automation_Energy_monitoring.pdf">Aqui</a></p>
		</div>
        

		<div class="clearfix"></div>
		
	</div>
	
</div>

<!-- /services -->


<!-- skills -->
<hr width="80%">
<!-- /skills -->
	<!--gallery-->
	<div class="gallery" id="projects">
		<div class="container">
			<h3>Proyectos</h3>
			<label class="line"></label>
			<p class="top-p">Mauris vestibulum ac sem at ornare. Praesent feugiat metus pellentesque, finibus massa quis, viverra lacus. Ut nisi ante, dignissim sit amet justo pretium.</p>
		</div>
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/plc_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/plc_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/ccm_white_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/ccm_white_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/mecscada_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/mecscada_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/monitor_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/monitor_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/main_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/main_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/soft_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/soft_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/lvx_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/lvx_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'images/pressure_transmitter_full.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'images/pressure_transmitter_close.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
	</div>
	<!--//gallery-->
<!-- team -->
	<div class="team" id="team">
		<div class="container">
			<h3>Meet Our Team</h3>
			<label class="line"></label>
			<p class="top-p">Mauris vestibulum ac sem at ornare. Praesent feugiat metus pellentesque, finibus massa quis, viverra lacus. Ut nisi ante, dignissim sit amet justo pretium.</p>
			<div class="agile_team_grids">
				<div class="col-md-4 agile_team_grid agile1">
					<div class="agile_team_grid_main">
						<img src="{% static 'images/t1.jpg' %}" alt=" " class="img-responsive" />
						<div class="p-mask">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="agile_team_grid1">
						<h4>Williamson</h4>
						<p>Managing Director</p>
					</div>
				</div>
				<div class="col-md-4 agile_team_grid agile2">
					<div class="agile_team_grid_main">
						<img src="{% static 'images/t2.jpg' %}" alt=" " class="img-responsive" />
						<div class="p-mask">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="agile_team_grid1">
						<h4>Linda Carl </h4>
						<p>Technician</p>
					</div>
				</div>
				<div class="col-md-4 agile_team_grid agile3">
					<div class="agile_team_grid_main">
						<img src="{% static 'images/t3.jpg' %}" alt=" " class="img-responsive" />
						<div class="p-mask">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="agile_team_grid1">
						<h4>Harington</h4>
						<p>General Manager</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->

<!-- Clients -->
	<div class="clients">
		<div class="container">
			<h3>Marcas</h3>
			<label class="line"></label>
			<h4>algunas de las marcas que manejamos</h4>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="{% static 'images/siemens.png' %}" alt="" />
								<p>PLC's automatizacion de CCM's , instrumentacion y despliegue en interfaz grafica en computadora o HMI , siemens ofrece una gran variedad de soluciones listas para implementarse</p>
								<div class="client">
									<h5>SIEMENS</h5>
								</div>
						</li>
						<li>
							<img src="{% static 'images/schneider.png' %}" alt="" />
								<p>Marca de Alta y baja tension por excelencia su durabilidad combinada con su fiabilidad la hacen la marca lider en instalaciones residenciales e industriales </p>
								<div class="client">
									<h5>SCHNEIDER</h5>
									
								</div>
						</li>
						<li>
							<img src="{% static 'images/abb.jpg' %}" alt="" />
								<p>ABB es un líder tecnológico pionero que trabaja en estrecha colaboración con clientes de servicios públicos, industria, transporte e infraestructura para escribir el futuro de la digitalización industrial.</p>
								<div class="client">
									<h5>ABB</h5>
									
								</div>
						</li>
						<li>
							<img src="{% static 'images/allen-bradley.png' %}" alt="" />
								<p>Mejore la productividad y la flexibilidad con la línea de productos Allen-Bradley, presentada por Rockwell Automation. Líder en innovación y calidad por más de 110 años, la cartera Allen-Bradley ofrece los componentes de automatización y los sistemas de control integrados que necesita para optimizar el rendimiento.</p>
								<div class="client">
									<h5>ALLEN BRADLEY</h5>

								</div>
						</li>
						<li>
							<img src="{% static 'images/festo.jpg' %}" alt="" />
								<p>Con más de cuarenta años de presencia en México, Festo se ha consolidado como la empresa líder en automatización neumática, electroneumática y electromecánica ofreciendo soluciones integrales en su ramo.</p>
								<div class="client">
									<h5>FESTO</h5>

								</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<!-- //Clients -->

<div class="contact-wthree" id="contact">
		<div class="container">
					<h3>Ponte en contacto</h3>
					<label class="line"></label>
					<p class="top-p">Estamos para servirte , mandanos tu mensaje y con gusto te atenderemos , estamos para servirte para cualquier duda o aclaracion</p>
					<div class="col-sm-8 w3layouts-agileits contact-left">
						<form action="/"  method="post" class="my-form">
							{% csrf_token %}
								
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								{# Include the visible fields #}
								{% for field in form.visible_fields %}
    								<div class="fieldWrapper">
        								{{ field.errors }}
        								{{ field }}
								    </div>

								{% endfor %}

							
							
						 <input class="submit" type="submit" name="Send" value="ENVIAR">
						</form>
					</div>
					
					<div class="col-sm-4 w3layouts-agileits contact-right">
						<div class="w3layouts-address">
						<address>
						  <strong class="bold">Borbolla Automation</strong><br>
						  319 East Coma Av. Suite 689<br>
						  Hidalgo Tx. U.S.A Zip 78557<br>
						  <abbr title="Telefono">Telefono : </abbr> +521-811-00-87-616<br>
						   
						</address>

						<address>
						  <strong class="bold">Email</strong><br>
						  <a class="mail" href="mailto:administracion@borbolla-automation.com">administracion@borbolla-automation.com</a>
						</address>	
						<address>
						  <strong class="bold">Estamos en redes sociales!</strong><br>
							<div>
							<ul class="agileits-company-social">
								<li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank" title="google plus"><i class="fa fa-google-plus"></i></a></li>
							</ul>
							</div>
						</address>	
						</div>
					</div>
					<div class="clearfix"></div>
		</div>
	</div>
	<!-- /.contact us -->
<div class="footer">
	<div class="container">
		<p>&copy; 2017 Borbolla Automation.  | Design by <a href="www.google.com"> Luis Borbolla </a></p>
	</div>
</div>
	  <script src="{% static 'js/pie-chart.js' %}" type="text/javascript"></script>
	      <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#df4914',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#df4914',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#df4914',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-4').pieChart({
                barColor: '#df4914',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                rotate: 90,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });
        });

    </script>
		<!-- start-smooth-scrolling -->
			<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
			</script>
	<!-- //start-smoth-scrolling -->
		<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
</body>
</html>